{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн-журнал</title>
    <link type="text/css" href="{% static 'journal\css\home.css' %}" rel="stylesheet">
</head>
<body>
    <header>
      {% block account %}
      {% endblock %}
    </header>

    <section class="hero">
      <h1>Ласкаво просимо до онлайн-журналу</h1>
      <p>Це поки тимчасова версія головної сторінки.</p>
      <a href="{% url 'article_list' %}" class="btn btn-primary">Переглянути статті</a>
    </section>

</body>
</html>