{% extends 'journal/registration/base.html' %}

{% block title %}
Реєстрація
{% endblock %}

{% block content %}
<div class="registration-container">
    <h2>Реєстрація</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
        {% endfor %} -->
        <button type="submit">Зареєструватися</button>
    </form>
</div>
{% endblock %}
