{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн-журнал</title>
    <link type="text/css" href="{% static 'journal\css\home.css' %}" rel="stylesheet">
</head>
<body>
    {% block account %}
    <div class="container">
          <div class="col-md-3 text-end">
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            <a href="{% url 'register' %}" class="btn btn-primary">Зареєструватися</a>
          </div>
        </header>
      </div>
    {% endblock %}
</body>
</html>